# Environment
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# VS Code
.vscode/

# JetBrains
.idea/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log